*{
    padding: 0;
    margin: 0;
}

.souligne:hover{
    padding-top: 4px;
    text-decoration: underline;
}

#menu {
    margin: 0;
    padding: 0;
    font: 18px Arial;
}

.menu {
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    float: left;
    width: 200px;
}

.menu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}

.menu li a:active {background-color: #808080;}

.menu .sousmenu {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menu .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu .sousmenu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #3c3c3c;
}

.menu .sousmenu li a:hover {
    background-color: #505151;
}

.menu li:hover .sousmenu {
    display: block;
}

.icon{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('5591276.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#Gmail{
    width: 10%;
}

a{
    text-decoration: none;
    color: white;
}

#acceuil:hover{
    background-color: #dad9d9;
    border-radius: 5px;
} 

#tel{
    width: 10%;
}

#insta{
    width: 10%;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 5%;
}

header {
    background-color: #3c3c3c;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.blocGauche{
    flex-basis: 20%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    background-color: #eee;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    margin-top: 5%;
}

.blocDroite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.input{
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color:  #3c3c3c;
    width: 100%;
    padding-top:5%;
    padding-bottom: 5%;
    border-radius: 5px;
}

#RETEX:hover{
    background-color: #dad9d9;
    border-radius: 5px;
}

  
label {
    margin-bottom: 10px;
}
  
input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
  
textarea {
    height: 150px;
    resize: none;
}
  
button {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label{
    color:white;
}

@media (max-width: 768px) {

    header {
        flex-direction: row-reverse;
        align-items: center;
    }

    .icon{
        display: block;
        font-size: 2rem;
    }

    main{
        flex-direction: column;
    }

    .blocDroite{
        padding-top:5%; 
    }

    .header{
        flex-direction: row-reverse;
    }

    #acceuil{
        padding-top: 6%;
    }

    #RETEX{
        padding-top: 6%;
    }

    #menu{
        flex-direction: column;
    }

    .menu{
        display: flex;
        flex-direction: column;
        padding-top: 15%;
    }
}

@media (max-width: 1400px) {
    .icon{
        display: block;
        font-size: 2rem;
    }

    #menu{
        align-items: center;
        justify-content: center;
    }

    .menu{
        margin: 0;
        padding: 0;
    }

    #menu>ul{
        display: none;
    }

    #menu.testresponsive>ul{
        display: block;
    }

    #h1.h1responsive{
        display: none;
    }

    header{
        display: flex;
    }
}